# ì‹œê³„ì—´ ê´€ë ¨ NumPy ë° Pandas ê¸°ëŠ¥

## python, numpy, pandas ë‚ ì§œ íƒ€ì… ë¹„êµ ë° ì •ë¦¬

|ë¼ì´ë¸ŒëŸ¬ë¦¬|ë‚ ì§œ, ì‹œê°„ í´ë˜ìŠ¤| íƒ€ì„ë¸íƒ€ í´ë˜ìŠ¤|
|-------|-------------|-------------|
|datetime|datetime, date, time|timedelta|
|numpy|datetime64|timedelta64|
|panads|Timestamp|Timedelta|

- datetimeì€ python ì„¤ì¹˜ ì‹œ ê¸°ë³¸ì ìœ¼ë¡œ ë‚´ì¥ëœ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¡œ, ë‚ ì§œë¥¼ ì“¸ ê²ƒì¸ì§€, ì‹œê°„ì„ ì“¸ ê²ƒì¸ì§€, ë‚ ì§œì™€ ì‹œê°„ì„ í•©ì³ì“¸ ê²ƒì¸ì§€ì— ë”°ë¼ í´ë˜ìŠ¤ê°€ ë¶„í™”ë˜ì–´ ìˆìŒ.   
ì˜ˆë¥¼ë“¤ì–´ `2021-3-16`ì„ í‘œì‹œí•˜ê³  ì‹¶ìœ¼ë©´ `date` í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©í•˜ê³ , `2021-3-16 12:34:2`'ë¥¼ í‘œì‹œí•˜ê³  ì‹¶ìœ¼ë©´ `datetime` í´ë˜ìŠ¤ë¥¼ ì‚¬ìš©.  


- `datetime64`ë‚˜ `Timestamp`ëŠ” ê°ê° numpy, pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ìƒˆë¡œ ì •ì˜í•œ ë‚ ì§œì‹œê°„ í´ë˜ìŠ¤.   
ì´ ë‘˜ì€ í•œ í´ë˜ìŠ¤ë¡œ ë‚ ì§œ, ì‹œê°„, ë‚ ì§œì‹œê°„ì„ ëª¨ë‘ ì •ì˜í•  ìˆ˜ ìˆëŠ” ê²ƒì´ íŠ¹ì§•.

### ë‚ ì§œ ë°ì´í„° ì •ì˜ - python 
ë‹¤ìŒ ì½”ë“œëŠ” Pythonì˜ ë‚´ì¥ ëª¨ë“ˆì¸ datetimeì„ ì‚¬ìš©í•˜ì—¬ ë‚ ì§œ, ë‚ ì§œ + ì‹œê°„, ê·¸ë¦¬ê³  ì‹œê°„ì„ ì¶œë ¥í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤. ì½”ë“œì˜ ì‹¤í–‰ ê²°ê³¼ëŠ” ê°ê° 2022ë…„ 5ì›” 1ì¼, 2022ë…„ 5ì›” 1ì¼ 15ì‹œ 30ë¶„ 45ì´ˆ, ê·¸ë¦¬ê³  15ì‹œ 30ë¶„ 45ì´ˆë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤.

In [1]:
import datetime 

print(datetime.datetime(2022,3,4,15,30,27))
print(datetime.time(15,30,27))

print("chasoo")

2022-03-04 15:30:27
15:30:27
chasoo

### ë‚ ì§œ ë°ì´í„° ì •ì˜ - numpy
ë‹¤ìŒ ì½”ë“œëŠ” NumPy ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ë‚ ì§œë¥¼ ì¶œë ¥í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤. ì½”ë“œì˜ ì‹¤í–‰ ê²°ê³¼ëŠ” 2022ë…„ 5ì›” 1ì¼ì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. NumPyì˜ datetime64 ë°ì´í„° íƒ€ì…ì€ ê³ ì„±ëŠ¥ ë°°ì—´ ì²˜ë¦¬ë¥¼ ìœ„í•´ ì„¤ê³„ë˜ì–´ ìˆìœ¼ë©°, ë‚ ì§œ ë° ì‹œê°„ ê´€ë ¨ ì—°ì‚°ì— ìœ ìš©í•˜ê²Œ ì‚¬ìš©ë©ë‹ˆë‹¤.

In [2]:
import numpy as np

print(np.datetime64('2022-05-01'))

2022-05-01

### ë‚ ì§œ ë°ì´í„° ì •ì˜ - pandas 
ë‹¤ìŒ ì½”ë“œëŠ” pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ë‚ ì§œì™€ ë‚ ì§œ + ì‹œê°„ì„ ì¶œë ¥í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤. ì½”ë“œì˜ ì‹¤í–‰ ê²°ê³¼ëŠ” ê°ê° 2022ë…„ 5ì›” 1ì¼ 00ì‹œ 00ë¶„ 00ì´ˆì™€ 2022ë…„ 5ì›” 1ì¼ 12ì‹œ 30ë¶„ 00ì´ˆë¥¼ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. pandasì˜ Timestamp ê°ì²´ëŠ” ì‹œê³„ì—´ ë°ì´í„° ì²˜ë¦¬ì— ìœ ìš©í•˜ê²Œ ì‚¬ìš©ë©ë‹ˆë‹¤.

In [3]:
import pandas as pd
import polars as pl


df = pd.read_excel(r"C:\Users\chade\OneDrive - cs.analytics\PlayLearning\Infran_Time_Series\datasets\Sample - Superstore.xls")

df.info()


# polars

# df_pl = pl.read_excel(r"C:\Users\chade\OneDrive - cs.analytics\PlayLearning\Infran_Time_Series\datasets\Sample - Superstore.xls")  # polars 1.6.0 ì´ìƒë¶€í„° ì§€ì›
# print("\nPolars DataFrame:")
# print(df_pl.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

### Pandas ì˜ Timestamp ì²˜ë¦¬

###  ì‹œê³„ì—´ ë°ì´í„° ë‹¨ìˆœí™”

- ì—¬ëŸ¬ column ì¤‘ì—ì„œ í•„ìš”í•œ ì •ë³´ (ì£¼ë¬¸ ë‚ ì§œ ë° ë²”ì£¼ë³„ ì´ íŒë§¤ì•¡)ë§Œìœ¼ë¡œ data ë¥¼ ë‹¨ìˆœí™”  ì‹œí‚µë‹ˆë‹¤.

- ì¸ë±ìŠ¤ë¥¼ ì¬ì„¤ì •í•˜ì§€ ì•Šìœ¼ë©´ Pandasê°€ ê·¸ë£¹ ë³€ìˆ˜ë¥¼ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. 

ë‹¤ìŒ ì½”ë“œëŠ” DataFrameì¸ 'df'ë¥¼ 'Order Date'ì™€ 'Category' ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ì—¬ í•©ê³„ë¥¼ ê³„ì‚°í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.  
'Order Date'ì™€ 'Category' ì—´ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ ê·¸ë£¹í™”í•œ í›„, ê° ê·¸ë£¹ë³„ë¡œ ë‚˜ë¨¸ì§€ ì—´ì˜ í•©ê³„ë¥¼ êµ¬í•©ë‹ˆë‹¤. ê·¸ëŸ° ë‹¤ìŒ grouped_df.head()ë¥¼ í†µí•´ ê·¸ë£¹í™”ëœ DataFrameì˜ ìƒìœ„ 5ê°œ í–‰ì„ ì¶œë ¥í•©ë‹ˆë‹¤.

In [4]:
df_var = ["Order Date","Category"]
sales = grouped_df = df.groupby(df_var)["Sales"].sum()

sales = sales.reset_index(name="sales")

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2864 entries, 0 to 2863
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  2864 non-null   datetime64[ns]
 1   Category    2864 non-null   object
 2   sales       2864 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 67.3+ KB

ë‹¤ìŒ ì½”ë“œëŠ” DataFrame 'df'ë¥¼ 'Order Date'ì™€ 'Category' ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ì—¬ 'Sales' ì—´ì˜ í•©ê³„ë¥¼ ê³„ì‚°í•œ í›„ ì¸ë±ìŠ¤ë¥¼ ë¦¬ì…‹í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

### Numpy ì˜ datetime64 format

NumPy ë‚ ì§œ ë°°ì—´ì€ ns(ë‚˜ë…¸ì´ˆ) ë‹¨ìœ„ì˜ datetime64 ê°ì²´ì…ë‹ˆë‹¤. 

ë‚´ë¶€ ì €ì¥ ë‹¨ìœ„ëŠ” ë¬¸ìì—´ í˜•íƒœì—ì„œ ìë™ìœ¼ë¡œ ì„ íƒë˜ë©° ë‚ ì§œ ë‹¨ìœ„ ë˜ëŠ” ì‹œê°„ ë‹¨ìœ„ê°€ ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë‚ ì§œ ë‹¨ìœ„ëŠ” ë…„('Y'), ì›”('M'), ì£¼('W'), ì¼('D')ì´ê³  ì‹œê°„ ë‹¨ìœ„ëŠ” ì‹œ('h'), ë¶„('m'), ì´ˆ('s'), ë°€ë¦¬ì´ˆ('ms') ì…ë‹ˆë‹¤.

In [6]:
## numpy array return
order_date = sales["Order Date"].values

In [7]:
order_date_daily = np.array(order_date,dtype="datetime64[D]")
order_date_monthly = np.array(order_date,dtype="datetime64[M]")
order_date_yearly = np.array(order_date,dtype="datetime64[Y]")

In [8]:
np.unique(order_date_yearly)

array(['2011', '2012', '2013', '2014'], dtype='datetime64[Y]')

ë‹¤ìŒ ì½”ë“œëŠ” 'order_date' ë°°ì—´ì„ ì…ë ¥ ë°›ì•„, ë°ì´í„° íƒ€ì…ì„ 'datetime64[D]'ë¡œ ë³€í™˜í•˜ì—¬ ì¼ ë‹¨ìœ„ì˜ ë‚ ì§œë¡œ ì €ì¥í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” 'order_date' ë°°ì—´ì„ ì…ë ¥ ë°›ì•„, ë°ì´í„° íƒ€ì…ì„ 'datetime64[M]'ë¡œ ë³€í™˜í•˜ì—¬ ì›” ë‹¨ìœ„ì˜ ë‚ ì§œë¡œ ì €ì¥í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” 'order_date_monthly' ë°°ì—´ì—ì„œ ì¤‘ë³µë˜ì§€ ì•Šì€ ì›” ë‹¨ìœ„ì˜ ë‚ ì§œë¥¼ ì¶”ì¶œí•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” 'order_date' ë°°ì—´ì„ ì…ë ¥ ë°›ì•„, ë°ì´í„° íƒ€ì…ì„ 'datetime64[Y]'ë¡œ ë³€í™˜í•˜ì—¬ ì—° ë‹¨ìœ„ì˜ ë‚ ì§œë¡œ ì €ì¥í•œ í›„ ì¤‘ë³µë˜ì§€ ì•Šì€ ì—°ë„ë¥¼ ì¶”ì¶œí•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

## DateTimeIndex ë¥¼ ê°€ì§„ Pandas ì‹œê³„ì—´ data ìƒì„± ë° ì²˜ë¦¬

- Timestampì„ index ë¡œ í•˜ëŠ” data ë¥¼ ì‹œê³„ì—´ë°ì´í„° (TimeSeries) ë¼ê³  ë¶€ë¥¸ë‹¤. ì¦‰, index ê°€ DatetimeIndex ì¸ ë°ì´í„°ì´ë‹¤.

- ì‹œê³„ì—´ê´€ë ¨ class ì™€ ìƒì„± ë°©ë²•

| class         |           ì„¤ëª…          |                               ìƒì„±ë°©ë²• |Pandas Class|
|---------------|:-----------------------:|---------------------------------------:|------------:|
| Timestamp     |     í•˜ë‚˜ì˜ timestamp    |                 to_datetime, Timestamp |pandas.Timestamp|
| DatetimeIndex | timestamp íƒ€ì…ì˜ ì¸ë±ìŠ¤ | to_datetime, date_range, DatetimeIndex |pandas.DatetimeIndex|
| Period        |       time period       |                                 Period |pandas.Period|

ë‹¤ìŒ ì½”ë“œëŠ” í¬ê¸°ê°€ (12, 4)ì¸ ì„ì˜ì˜ í‘œì¤€ ì •ê·œ ë¶„í¬ì— ë”°ë¥¸ ë‚œìˆ˜ ë°°ì—´ì„ ìƒì„±í•˜ê³ , ì´ë¥¼ ì‚¬ìš©í•˜ì—¬ 'n1', 'n2', 'n3', 'n4' ì—´ ì´ë¦„ì„ ê°€ì§„ DataFrameì„ ìƒì„±í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

In [9]:
a = np.random.standard_normal((12,4))

df = pd.DataFrame(a,columns = ["n1","n2","n3","n4"])
df

          n1        n2        n3        n4
0   0.840535  0.942874 -1.323247  0.317310
1  -0.669229 -0.154968  0.405184 -0.042635
2   0.600745 -0.830338 -1.163984  1.253808
3  -0.143103 -0.642492  0.573958  1.091752
4  -0.544468  0.479261 -1.422270  1.416170
5   1.689289  1.021240 -1.872028  0.730604
6  -0.541190 -0.095484 -0.019337  0.175126
7  -0.424676 -1.404988 -0.104846 -0.091784
8  -0.122189 -0.324319  0.252475  1.437388
9  -0.164922  0.112168  0.249565 -0.786878
10 -1.874283  1.290874  0.226748 -0.503521
11  0.701274 -0.861261  0.695462  0.903611

## to_datetime()

ë‹¤ìŒ ì½”ë“œëŠ” ë¬¸ìì—´ë¡œ í‘œí˜„ëœ ë‹¤ì–‘í•œ í˜•ì‹ì˜ ë‚ ì§œë“¤ì„ í¬í•¨í•˜ëŠ” 'date_str' ë¦¬ìŠ¤íŠ¸ë¥¼ ì…ë ¥ ë°›ìŠµë‹ˆë‹¤. ê·¸ ë‹¤ìŒ, pd.to_datetime() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ í•´ë‹¹ ë¬¸ìì—´ë“¤ì„ datetime ìë£Œí˜•ìœ¼ë¡œ ë°”ê¾¼ í›„ DatetimeIndex ìë£Œí˜• ì¸ë±ìŠ¤ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

In [10]:
date_str = ['2010-01-01', '2015, 7, 1', 'May, 1 2016', 
            'Dec, 25, 2019', 'DEC 1 2020', 'dec 20 2021', '2020 12 31']


for dt in date_str:
    try:
        results = pd.to_datetime(dt, errors="raise")  # ë³€í™˜ ì‹œë„
        print(f"âœ… Parsed: {dt} â†’ {results}")
    except Exception as e:
        # ë³€í™˜ ì‹¤íŒ¨ ì‹œ fallback ì²˜ë¦¬
        print(f"âŒ Failed: {dt} ({e})")
        formats = ["%Y-%m-%d", "%Y, %m, %d", "%Y %m %d"]

        for fmt in formats:
            try:                
                fallback = datetime.strptime(dt, fmt)
                print(f"â†ªï¸ Fallback parsed: {fallback}")
                break
            except Exception as e:
                print(f"ğŸš« Could not parse this date at all. error code is {e}")
        else:
            print("ğŸš« Could not parse this date at all.")

âœ… Parsed: 2010-01-01 â†’ 2010-01-01 00:00:00
âœ… Parsed: 2015, 7, 1 â†’ 2015-07-01 00:00:00
âœ… Parsed: May, 1 2016 â†’ 2016-05-01 00:00:00
âœ… Parsed: Dec, 25, 2019 â†’ 2019-12-25 00:00:00
âœ… Parsed: DEC 1 2020 â†’ 2020-12-01 00:00:00
âœ… Parsed: dec 20 2021 â†’ 2021-12-20 00:00:00
âœ… Parsed: 2020 12 31 â†’ 2020-12-31 00:00:00

## date_range
```python
pd.date_range(start, end, periods, freq)
```

- ëª¨ë“  ë‚ ì§œ/ì‹œê°„ì„ ì¼ì¼íˆ ì…ë ¥í•  í•„ìš”ì—†ì´ **ì‹œì‘ì¼ê³¼ ì¢…ë£Œì¼** ë˜ëŠ” **ì‹œì‘ì¼ê³¼ ê¸°ê°„**ì„ ì…ë ¥í•˜ë©´ ë²”ìœ„ ë‚´ì˜ ì¸ë±ìŠ¤ë¥¼ ìƒì„±  

- freq
    - S: ì´ˆ  
    - T: ë¶„  
    - H: ì‹œê°„  
    - D: ì¼(day)  
    - B: ì£¼ë§ì´ ì•„ë‹Œ í‰ì¼ (Business Day)
    - W: ì£¼(ì¼ìš”ì¼)  
    - M: ê° ë‹¬(month)ì˜ ë§ˆì§€ë§‰ ë‚   
    - MS: ê° ë‹¬ì˜ ì²«ë‚   

[frequency alias](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases) ì°¸ì¡°

ì´ ì½”ë“œëŠ” ì‹œì‘ ë‚ ì§œë¡œ '2016-9-1'ì„ ì„¤ì •í•˜ê³ , ê·¸ë¡œë¶€í„° 10ì¼ ë™ì•ˆì˜ ë‚ ì§œ ë²”ìœ„ë¥¼ ìƒì„±í•©ë‹ˆë‹¤. ê¸°ë³¸ì ìœ¼ë¡œ ë‚ ì§œ ê°„ê²©ì€ 1ì¼ë¡œ ì„¤ì •ë©ë‹ˆë‹¤.  
ê²°ê³¼ì ìœ¼ë¡œ ì‹œì‘ ë‚ ì§œë¶€í„° ì—°ì†ëœ 10ì¼ ë™ì•ˆì˜ ë‚ ì§œ ë²”ìœ„ê°€ ìƒì„±ë˜ì–´ DatetimeIndex ê°ì²´ì— ì €ì¥ë©ë‹ˆë‹¤.

In [11]:
pd.date_range('2016-9-1',periods=10,freq="D")

DatetimeIndex(['2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04',
               '2016-09-05', '2016-09-06', '2016-09-07', '2016-09-08',
               '2016-09-09', '2016-09-10'],
              dtype='datetime64[ns]', freq='D')

ì´ ì½”ë“œëŠ” ì‹œì‘ ë‚ ì§œë¡œ '2019-5-1'ì„ ì„¤ì •í•˜ê³ , ì¢…ë£Œ ë‚ ì§œë¡œ '2019-5-10'ì„ ì„¤ì •í•©ë‹ˆë‹¤. ê·¸ë¦¬ê³  'freq' ì¸ìë¥¼ 'B'ë¡œ ì„¤ì •í•˜ì—¬ í‰ì¼ ë²”ìœ„ë¥¼ ìƒì„±í•©ë‹ˆë‹¤ ('B'ëŠ” Business dayì˜ ì•½ìë¡œ í‰ì¼ì„ ì˜ë¯¸í•©ë‹ˆë‹¤).

In [12]:
pd.date_range('2016-9-1','2019-5-10',freq="B")

DatetimeIndex(['2016-09-01', '2016-09-02', '2016-09-05', '2016-09-06',
               '2016-09-07', '2016-09-08', '2016-09-09', '2016-09-12',
               '2016-09-13', '2016-09-14',
               ...
               '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02',
               '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08',
               '2019-05-09', '2019-05-10'],
              dtype='datetime64[ns]', length=702, freq='B')

ì´ ì½”ë“œëŠ” ì‹œì‘ ë‚ ì§œë¡œ '2019-01-01'ì„ ì„¤ì •í•˜ê³ , ê·¸ë¡œë¶€í„° 12ê°œì˜ ì›”ë³„ ë‚ ì§œ ë²”ìœ„ë¥¼ ìƒì„±í•©ë‹ˆë‹¤. 'freq' ì¸ìë¥¼ 'M'ë¡œ ì„¤ì •í•˜ì—¬ ì›” ë§ˆì§€ë§‰ ë‚ ì§œë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚ ì§œ ë²”ìœ„ë¥¼ ìƒì„±í•©ë‹ˆë‹¤.

In [15]:
dates = pd.date_range('2019-1-1',periods=12,freq="MS")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2019-01-01 to 2019-12-01
Freq: MS
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   n1      12 non-null     float64
 1   n2      12 non-null     float64
 2   n3      12 non-null     float64
 3   n4      12 non-null     float64
dtypes: float64(4)
memory usage: 480.0 bytes

In [19]:
df.set_index(dates,inplace=True)

## Pandas DatetimeIndexë¥¼ ì´ìš©í•œ ì‘ì—…

ë‹¤ìŒ ì½”ë“œëŠ” ê¸°ì¡´ì˜ 'sales' DataFrameì—ì„œ 'Order Date' ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

In [28]:
sales.set_index('Order Date',inplace=True)
sales

                   Category     sales
Order Date
2011-01-04  Office Supplies    16.448
2011-01-05  Office Supplies   288.060
2011-01-06  Office Supplies    19.536
2011-01-07        Furniture  2573.820
2011-01-07  Office Supplies   685.340
...                     ...       ...
2014-12-30  Office Supplies   282.440
2014-12-30       Technology   302.376
2014-12-31        Furniture   323.136
2014-12-31  Office Supplies   299.724
2014-12-31       Technology    90.930

[2864 rows x 2 columns]

### Subsetting data

ì´ì œ DatetimeIndexë¥¼ ì‚¬ìš©í•˜ì—¬ ë°ì´í„° í•˜ìœ„ ì§‘í•©ì„ ì„ íƒí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.  
ë‹¤ìŒ ì½”ë“œëŠ” 'sales' DataFrameì—ì„œ ì¸ë±ìŠ¤ê°€ '2011' ë…„ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” 'sales' DataFrameì—ì„œ 'Category'ê°€ 'Office Supplies'ì¸ ë°ì´í„° ì¤‘, 2012ë…„ 1ì›”ë¶€í„° 2ì›”ê¹Œì§€ í•´ë‹¹í•˜ëŠ” ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

In [36]:
sales["Category"]=="Office Supplies"

Order Date
2011-01-04     True
2011-01-05     True
2011-01-06     True
2011-01-07    False
2011-01-07     True
              ...
2014-12-30     True
2014-12-30    False
2014-12-31    False
2014-12-31     True
2014-12-31    False
Name: Category, Length: 2864, dtype: bool

In [42]:
(sales["Category"]=="Office Supplies").values

array([ True,  True,  True, ..., False,  True, False], shape=(2864,))

In [47]:
sales[(sales["Category"]=="Office Supplies")]

                   Category     sales
Order Date
2011-01-04  Office Supplies    16.448
2011-01-05  Office Supplies   288.060
2011-01-06  Office Supplies    19.536
2011-01-07  Office Supplies   685.340
2011-01-08  Office Supplies    10.430
...                     ...       ...
2014-12-27  Office Supplies   814.594
2014-12-28  Office Supplies    13.248
2014-12-29  Office Supplies  1091.244
2014-12-30  Office Supplies   282.440
2014-12-31  Office Supplies   299.724

[1149 rows x 2 columns]

### Datetime Components

Pandas Datetime ë³€ìˆ˜ì—ëŠ” ì—¬ëŸ¬ ê°€ì§€ ìœ ìš©í•œ êµ¬ì„± ìš”ì†Œê°€ ìˆìŠµë‹ˆë‹¤. DatetimeIndexë¥¼ ì‚¬ìš©í•˜ì—¬ ì›”, ì—°ë„, ìš”ì¼, ë¶„ê¸° ë“±ê³¼ ê°™ì€ í•­ëª©ì„ ì¶”ì¶œí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [ ]:
sales.index.month

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'December', 'December', 'December', 'December', 'December', 'December',
       'December', 'December', 'December', 'December'],
      dtype='object', name='Order Date', length=2864)

ë‹¤ìŒ ì½”ë“œëŠ” 'sales' DataFrameì˜ ì¸ë±ìŠ¤ì—ì„œ ì¼(day) ì •ë³´ë¥¼ ê°€ì ¸ì˜¤ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” 'sales' DataFrameì˜ ì¸ë±ìŠ¤ì—ì„œ ìš”ì¼ ì •ë³´ë¥¼ ê°€ì ¸ì˜¤ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ì´ ì½”ë“œëŠ” 'sales' DataFrameì— 'DayofWeek'ë¼ëŠ” ìƒˆë¡œìš´ ì—´ì„ ì¶”ê°€í•˜ë©°, ì´ ì—´ì—ëŠ” ê° í–‰ì˜ ì¸ë±ìŠ¤ì¸ ë‚ ì§œì˜ ìš”ì¼ ì •ë³´ë¥¼ í• ë‹¹í•©ë‹ˆë‹¤.

In [55]:
sales["DayofWeek"] = sales.index.day_of_week
sales

                   Category     sales  DayofWeek
Order Date
2011-01-04  Office Supplies    16.448          1
2011-01-05  Office Supplies   288.060          2
2011-01-06  Office Supplies    19.536          3
2011-01-07        Furniture  2573.820          4
2011-01-07  Office Supplies   685.340          4
...                     ...       ...        ...
2014-12-30  Office Supplies   282.440          1
2014-12-30       Technology   302.376          1
2014-12-31        Furniture   323.136          2
2014-12-31  Office Supplies   299.724          2
2014-12-31       Technology    90.930          2

[2864 rows x 3 columns]

## resample

- ì‹œê°„ ê°„ê²©ì„ ì¬ì¡°ì •   
- ì›ë˜ì˜ ë°ì´í„°ê°€ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ì´ê¸° ë•Œë¬¸ì— ê·¸ë£¹ ì—°ì‚°ì„ í•´ì„œ ëŒ€í‘œê°’ì„ êµ¬í•´ì•¼ í•œë‹¤.

In [61]:
ts = pd.Series(np.random.randn(100),index = pd.date_range('2020-1-1',periods=100,freq="D"))
ts

2020-01-01   -0.629082
2020-01-02   -0.218950
2020-01-03   -0.202207
2020-01-04    1.049897
2020-01-05   -0.249258
                ...
2020-04-05   -0.689130
2020-04-06    0.767420
2020-04-07   -0.337038
2020-04-08    1.772203
2020-04-09   -0.479072
Freq: D, Length: 100, dtype: float64

In [63]:
ts.resample("W").mean()
ts.resample("W").sum()

2020-01-05   -0.249599
2020-01-12    1.878641
2020-01-19    0.439300
2020-01-26   -0.012231
2020-02-02   -0.151374
2020-02-09    0.780477
2020-02-16   -1.942591
2020-02-23   -3.006017
2020-03-01    1.801413
2020-03-08   -3.226196
2020-03-15    0.278178
2020-03-22    1.159421
2020-03-29    1.001693
2020-04-05   -0.463702
2020-04-12    1.723512
Freq: W-SUN, dtype: float64

In [ ]:
ts.resample("")

ì´ ì½”ë“œëŠ” NumPyì˜ randn() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ê¸¸ì´ê°€ 100ì¸ ëœë¤í•œ ê°’ì„ ìƒì„±í•œ í›„, ì´ë¥¼ pandas Seriesë¡œ ë³€í™˜í•©ë‹ˆë‹¤. ì¸ë±ìŠ¤ëŠ” pd.date_range() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ 2018ë…„ 1ì›” 1ì¼ë¶€í„° 100ê°œì›” ê¸°ê°„ìœ¼ë¡œ ìƒì„±ë©ë‹ˆë‹¤. ë¹ˆë„(frequency)ë¥¼ freq="M"ìœ¼ë¡œ ì„¤ì •í•˜ì—¬ ì›”ë‹¨ìœ„ë¡œ ì§€ì •í•©ë‹ˆë‹¤.

2018ë…„ 1ì›” 1ì¼ì„ ì‹œì‘ìœ¼ë¡œ í•˜ì—¬ ë§¤ì›” ëœë¤í•œ ê°’ì„ ê°–ëŠ” 100ê°œì˜ ë°ì´í„°ê°€ ìƒì„±ë˜ë©°, ì‹œê³„ì—´ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë‹¤ì–‘í•œ pandas í•¨ìˆ˜ ë° ë©”ì†Œë“œë¥¼ í™œìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” pandas Seriesì—ì„œ ì£¼ ë‹¨ìœ„ë¡œ ë‹¤ìš´ ìƒ˜í”Œë§í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.

ë‹¤ìŒ ì½”ë“œëŠ” pandas Seriesì—ì„œ ì£¼ ë‹¨ìœ„, ì›” ë‹¨ìœ„ë¡œ í‰ê· ì„ ê³„ì‚°í•˜ëŠ” ì˜ˆì œì…ë‹ˆë‹¤.